
.category {
    border-radius: 90%;
    border-width: 1px;
    border-color: rgb(156 163 175);
    margin-inline-end: .5rem;
    margin: 2px;
    width: fit-content;
}

.styling {
   display: inline-block;
    color: rgb(107 114 128);
    gap: 1rem;
   position: relative;
   bottom:350px ;
}
